/**
 * Positioning --------------------------------------------------------
 */
.left   { float: left; }
.right  { float: right; }
.size-100 { width: 99.99% }
.size-95 { width: 94.99% }
.size-90 { width: 89.99% }
.size-85 { width: 84.99% }
.size-80 { width: 79.99% }
.size-75 { width: 74.99% }
.size-70 { width: 69.99% }
.size-65 { width: 64.99% }
.size-60 { width: 59.99% }
.size-55 { width: 54.99% }
.size-50 { width: 49.99% }
.size-45 { width: 44.99% }
.size-40 { width: 39.99% }
.size-35 { width: 34.99% }
.size-30 { width: 29.99% }
.size-25 { width: 24.99% }
.size-20 { width: 19.99% }
.size-15 { width: 14.99% }
.size-10 { width: 9.99% }
.size-5 { width: 4.99% }
.position .inner { padding: 10px; }
.position .inner-left { padding-right: 10px; }
.position .inner-right { padding-left: 10px; }

#page {
  min-height: 350px;
}
#wrapper-one {
  background: url("images/bg.jpg") scroll;
  border-top: 10px solid #7D294C;
}
#wrapper-two {
  background: url("images/bg-top.jpg") top repeat-x;  
  position: relative;
}
#logo {
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}


#header {
  margin-bottom: 10px;
  text-align: center;
}
.block,
.item-list,
.help-items ul,
.form-item,
.confirmation ul,
.admin-list,
.node-type-list,
.admin-panel {
  background: transparent;
  margin: 0px 0px 10px;
  border-width: 0px;
  border-style: solid;
  border-color: #DDD;
}

.help-page, 
div.comment, 
div.node-teaser {
  margin-bottom: 35px;
}

.block .block-content,
.container-inline .fieldset-content,
.fieldset-content {
  padding: 10px 9px 9px;
  background: transparent;
}


/**
 * Modules overrides ----------------------------------------------------
 */
table.views-view-grid td,
table.views-view-grid th {
  vertical-align: top;
  border-width: 0px 0px;
  border-style: solid;
  border-color: transparent;
  padding: 5px;
}

table.views-view-grid {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  border-collapse: collapse;
  border-color: transparent;
  border-width: 0px;
  border-style: solid;
}

table.dsq-global-toolbar-container {
  width: 100%;
  margin: 0px 0px 10px;
  background-color: white;
  border-collapse: collapse;
  border-color: transparent;
  border-width: 0px;
}

.views-display-top .secondary {
  position: relative;
}



/**
 * Babayaga CSS -------------------------------------------------------
 */
 
.item-list h3 {
  display: block;
  font-size: 18px;
  margin: 0px;
  padding: 4px 9px 5px;
  color: #777;
  background: transparent;
}

#navigation {
  text-align: center;
}

#navigation-container {
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}
ul.main-menu {
  clear:left;
  float:left;  
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;   
}
ul.main-menu  li {
  display:block;
  float:left;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}

#navigation ul.links li.first {
  background: transparent url("images/sprites.png") no-repeat;
  background-position: 0 -170px;
  padding-left: 35px;
}
#navigation ul.links li.last {
  background: transparent url("images/sprites.png") no-repeat;
  background-position: 100% -93px;
  padding-right: 35px;
}

#navigation ul.links li {
  padding: 5px 0px;
}
#navigation ul.links li a {
  font-family: "Garamond Premier Pro", "Garamond 3 LT Std", "EB Garamond", Georgia, serif;
  color: #222;
  font-size: 24px;
  background: transparent url("images/sprites.png") 0 3px no-repeat;
/*  border-right: 1px solid #ccc;*/
  padding: 10px 15px;
  padding-left: 25px;
}
#navigation ul.links li.first a {
  background-image: none;
  padding-left: 15px;
} 


.field-content.picture img,
.node img {
  padding: 3px;
  border: 1px solid #CCC;
  background: #FFF;
}

.block {
}
#content .block,
#footer .block {
  border: 0;
}
#footer {
  background-color: #7D294C;
  padding: 35px;
}

.tabs {
  position: relative;
  right: 0px;
  float: right;
}
h2 {
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #463434;
}
h2.node-title {
  font-family: "Garamond Premier Pro", "Garamond 3 LT Std", "EB Garamond", Georgia, serif;
}
.views-label,
.field-content,
.prose {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 25px;
  color: #555;
  text-align: justify;
}
.views-label {
  color: #333;
  float: left;
  margin-right: 5px;
  font-weight: bold;
}

h2.node-title a,
h2.node-title {
  color: #222;
  font-size: 42px;
  line-height: 42px;
}
h2.node-title a:hover {
  text-decoration: underline;
}

.addthis_toolbox.addthis_default_style a {
/*  float: right;*/
}
.addthis_toolbox {
  margin-top: 25px;
}
.node-blog .node-date {
  font-weight: bold;
  display: inline;
}
.node-blog .node-links {
  padding: 0 0 5px 0;
  display: inline;
}

.node-blog.node-teaser {
  background: transparent url("images/hr.png") center 100% no-repeat;
  padding-bottom: 55px;
}

.node-links a {
  color: #9E6A83;
}
.node-blog .node-title {
  margin-bottom: 0;
}

.headings {
  color: #A13562;
  margin-bottom: 10px;
}
.field-name-title,
.field-name-title a,
.title a,
.title {
  font-family: "Garamond Premier Pro", "Garamond 3 LT Std", "EB Garamond", Georgia, serif;
  color: #333; 
  font-weight: normal;
}


.node-form .form-layout-default .column-wrapper {
  padding: 10px;
  padding-top: 5px;
}
.node-form .form-layout-default .column-main {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}

.field-name-post-date {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.page-node .page-title {
  display: none;
}
#page-title .page-title {
  float: left;
  padding: 15px 10px 15px 0px;
  text-shadow: white 0px 1px 0px;
  -webkit-text-shadow: #fff 0px 1px 0px;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 34px;  
  line-height: 32px;
  font-family: "Garamond Premier Pro", "Garamond 3 LT Std", "EB Garamond", Georgia, serif;
  color: #463434;
}

.block .view-id-recipes .view-mode-badge_medium {
}
.block .view-id-recipes .view-mode-badge_small {
  width: 49%;
  float: left;
}
.view-id-recipes .view-mode-badge_medium .field-name-title {
  font-size: 21px;
  line-height: 27px;
  text-align: center;
}
.view-id-recipes .view-mode-badge_small .field-name-title {
  font-size: 18px;
  line-height: 24px;  
  text-align: center;
}
.field-name-field-recipe-subtitle {
  color: #7D294C;
}
.view-id-recipes .view-mode-badge_medium {
  text-align: center;  
}

.node-blog.view-mode-list .field-name-title {
  font-size: 32px;
}

.block .inner {
}
.page-recipes .view-id-recipes .view-mode-badge_medium {
}
.page-recipes .view-id-recipes .view-mode-badge_medium .inner {
}


/**
 * Search ----------------------------------------------------------------------
 */
.views-summary-unformatted a span.count, 
.facet-remove,
.facet-count {
  font-size: 10px;
  padding: 0 3px;
  background-color: white;
  float: right;
  color: #777;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 15px;
  text-align: center;
  border: 1px solid #D4D0CD;
}
.views-summary-unformatted a span.count {
  float: left;
}


#left {
  
}

.block.block-facetapi .block-content {
  padding: 0;
}
.block.block-facetapi ul li {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 1px;
}
.views-summary-unformatted a,
.block.block-facetapi ul li a {
  display: block;
  padding: 2px 2px 4px 8px;
  color: #777;
  border-radius: 3px; 
  border: 1px solid transparent;
}
.views-summary-unformatted a {
  padding: 2px 2px;
}

.views-summary-unformatted a:hover,
.block.block-facetapi ul li a:hover {
  background-color: #E8E4E1;
  border: 1px solid #D4D0CD;
}
.facet-label {
  font-size: 15px;
  text-align: right;
  padding-right: 30px;
}

.views-summary-unformatted a span.link {
  font-size: 15px;  
  padding-left: 5px;
}

.node-recipe.view-mode-search_result {
  border: 1px solid #B3B29E;  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  background: transparent url("images/bg-top.jpg") 0 -15px repeat-x;
  text-align: center;
}
.node-recipe.view-mode-search_result:hover {
  background: #fff;  
}
.node-recipe.view-mode-search_result h2 {
  font-size: 20px;
  line-height: 21px;
}
.node-recipe.view-mode-search_result .field-name-field-recipe-subtitle {
  font-size: 11px;
  line-height: 17px;
}

.page-recipes #left .inner {
  padding: 0;
}
.page-recipes #left .block .block-title {
  margin: 0;
  padding: 5px;
}
.page-recipes #left .block .block-title h2 {
  font-size: 20px;
  text-align: right;  
}

.field-content ul li {
  list-style: circle;
  margin-left: 20px;
}


h1.title {
  font-size: 32px;
  line-height: 32px;  
  margin-bottom: 5px;
}

.field-name-field-recipe-subtitle,
.field-name-field-blog-subtitle {
  font-size: 14px;
  line-height: 21px;
  color: #A13562;
  margin-bottom: 20px;
}


.block-paper {
/*  background: url(images/bg-paper.jpg);*/
}


.node-blog.view-mode-list .group-left {
  width: 38%
}
.node-blog.view-mode-list .group-right {
  width: 62%
}

.node-blog.view-mode-list .field-name-post-date {
  text-align: center;
}

.node-blog.view-mode-list .field-name-field-blog-subtitle {
  margin-bottom: 10px;
}

.prose h2 {
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #463434;  
}