
.block-inner {
 padding: 15px;
}

#right .block {
  background: transparent url('images/bg-block.png');
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#right .block .block-title {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  display: block;
  margin: 0px;
  padding:5px 15px 10px;
  background: transparent url('images/sprites.png') 0 -300px no-repeat;
  font-family: "Garamond 3 LT Std", "EB Garamond", Georgia, serif;
  margin-bottom: 10px;
  margin-right: -22px;
}

#block-views-recipes-block-1 .field-content.picture {
  text-align: center;
}