/* 
    Document   : layout-front
    Created on : Mar 20, 2011, 10:50:14 PM
    Author     : ademarco
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

