
#block-menu-block-feature-pages-1 .block-title {
  display: none;
}
#block-menu-block-feature-pages-1 li {
  padding: 0;
}
#block-menu-block-feature-pages-1 li a {
  display: block;
  padding: 5px 10px 4px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  color: #333;
}
#block-menu-block-feature-pages-1 li a:hover {
  background: #ddd;
} 
#block-menu-block-feature-pages-1 li.last a {
  border-bottom: 0;  
}                                         


